@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');


*{
    margin: 0;
    padding:0;
}
a, li, ul{
    text-decoration: none;
    list-style: none;
    text-transform: none;
}

