@media only screen and (min-width: 768px) and (max-width: 1024px)  {
    .header, .main, section.content, .produtos-bg, .qualidade-bg, .newslater-bg{
        padding-left:20px;
        padding-right:20px;
    }
 
    .produto-img{
        width:280px;
    }
    .produto-img img{
        width:280px;
    }
    
}
@media (max-width: 360px){
    .main{
        font-size: 60%;
        padding: 10px;
    }
}